[client] 　　　　　　　　　　　　　　　　　　#客户端设置，即客户端默认的连接参数
default-character-set = utf8mb4　　　　　　　#编码

[mysqld]	　　　　　　　　　　　　　　　　　　#服务端基本设置
character_set_server = utf8mb4	　　　　　　 #服务端默认编码（数据库级别）
collation_server = utf8mb4_bin	　　　　　　 #服务端默认的比对规则，排序规则

[mysql]
default-character-set = utf8mb4　　
auto-rehash　　　　　　　　　　　　　　#auto-rehash是自动补全的意思